<div class="container">
  <h1> Create planning </h1>
  <form class="needs-validation" (ngSubmit)="onSubmit()">
    <div class="col">

      <div class="form-group">
        <label>Activity</label>
        <input type="text" class="form-control" id="activityType"
               [(ngModel)]="createPlanning.planning.activityType" name="activityType" placeholder="Enter Activity type" required>

        <div class="valid-feedback">Valid Activity type</div>
        <div class="invalid-feedback">Please fill out this field</div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="createPlanning.planning.description" name="description" placeholder="Description" required>

        <div class="valid-feedback">Valid description</div>
        <div class="invalid-feedback">Please fill out this field</div>
      </div>

      <div class="form-group">
        <label>Start date</label>
        <input type="date" class="form-control" id="startDate"
               [(ngModel)]="createPlanning.planning.startDate" name="startDate" required>

        <div class="valid-feedback">Valid date</div>
        <div class="invalid-feedback">Please pick a date</div>
      </div>

      <div class="form-group">
        <label>End date</label>
        <input type="date" class="form-control" id="endDate"
               [(ngModel)]="createPlanning.planning.endDate" name="endDate" required>

        <div class="valid-feedback">Valid date</div>
        <div class="invalid-feedback">Please pick a date</div>
      </div>
    </div>

    <div class="pt-2">
      <button (click)="validate()" class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>
