<div class="container">
  <h2> Plannings </h2>
  <div class="row">
    <div class="col justify-content-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th> Activity Type</th>
          <th> Description</th>
          <th> Start date</th>
          <th> End date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let planning of plannings">
          <td> {{ planning.activityType }} </td>
          <td> {{ planning.description }} </td>
          <td> {{ planning.startDate | date: 'fullDate'}} </td>
          <td> {{ planning.endDate | date: 'fullDate'}} </td>
          <td class="text-center">
            <button (click)="showWeather()" class="btn btn-info">Weather</button>
            <button (click)="updatePlanning(planning.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="deletePlanning(planning.id)" class="btn btn-danger" style="margin-left: 10px">Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="row justify-content-end">
        <div class="col-4 text-end">
          <button (click)="goToCreatePage()" class="btn btn-primary">New planning</button>
        </div>
      </div>

    </div>
  </div>
</div>
